* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 96%;

  --color-bg: hsl(0, 0%, 98%);
  --color-md-gray: hsl(0, 0%, 41%);
  --font-color: hsl(0, 0%, 8%);

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  line-height: 2.1rem;
  background: var(--color-bg);
  color: var(--font-color);
  font-size: 18px;
}

.container {
  inline-size: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 7rem;
}

a {
  color: var(--font-color);
  transition: var(--transition);
  cursor: pointer;
}

a:hover {
  font-weight: 700;
}

.btn {
  background: #000;
  color: #fff;
  border-radius: .5rem;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7rem 1.5rem;
  inline-size: 30%;
  margin-block-end: 3rem;
}

.btn_primary {
  background: transparent;
  color: #000;
  border-radius: .5rem;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: .5rem;
  border: 1px solid #000;
}

.btn:hover,
.btn_primary:hover {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.app_container {
  background: #ffff;
  inline-size: 90%;
  margin: 2rem 4rem;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 1);
}