* {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    /* ensure as the user scrolls down the page the modal should follow them always */
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50% scale(0));
    /* perfect center */
    transition: 200ms ease-in-out;
    border: 1px solid gray;
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    inline-size: 500px;
    max-inline-size: 80%;
}


.modal.active {
    transform: translate(-50%, -50% scale(1));
    /* can be seen */
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block-end: 1px solid gray;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-modal {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    /* cannot click the btn when the overlay is inactive */
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}